@font-face{
    font-family:"S2";
    src:url("fonts/S2.ttf") format("truetype");
}

body{
    font-family:"S2", serif;
}
.Schnitzel{
    display:flex;
    justify-content:space-between;
}

.Schnitzel1{
    width:60%;
    margin-right:50px;
    border-radius:20px;
    height:40%;
}

.List{
    margin-top:60px;
    font-size:20px;
    padding-right:20px;
}

.Link{
    background-color:lightblue;
    border:solid 1px;
    text-decoration:none;
    padding:2px;
    border-radius:5px;
    color:black;
    width:30%;
    margin-left:35%;
    margin-top:50px;
}

.U1{
    width:100%;
    justify-content:center;
}

h1{
    color:limegreen;
    text-decoration:underline;
}

#Schnitzel2{
    margin-top:50px;
}


.End{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:100%
}

.Zutaten{
    font-size:30px;
    margin-bottom:100px;
    width:90%;
    color:lime;
    border-top:solid;
    border-bottom:solid;
    margin-left:5%;

}

.Zutatenli{
    font-size:24px;
    margin-left:40px;
    margin-bottom:100px;
    color:black;
    display:flex;
    justify-content:space-around;
}

.End-Text{
    width:100%;
}